@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #9381FF;
    padding: 20px;
    
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

#menu {
    list-style: none;
    
}

#menu li#logo {
    color: #fff;
    padding-right: 50px;
    font: 400 25px 'Roboto', sans-serif;
    
}

#menu li {
    display: inline;
    /*padding-left: 450px;*/
    font-weight: bold;
    font: 700 25px 'Roboto', sans-serif;
    vertical-align: middle;
}

#menu li:last-child {
    float: right;  
}


#menu li a {
    color: #000;
    text-decoration: none;
    display: inline;
    padding: 50px;
    font-size: 20px;
    transition: background .3s;

}

#menu li a#home {
    background: url(../assets/house32.png);
    background-repeat: no-repeat;
    background-position: left;
}

#menu li a#exit {
    background: url(../assets/exit32.png);
    background-repeat: no-repeat;
    background-position: right;
}
            
#menu li a:hover {
    color: #fff;
}

#content {
    display: flex;
    height: 90vh;
}

aside {
    flex: 3;
    background: #9BA9FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img {
    width: 128px;
}

#optionsBtn {
    text-decoration: none;
    margin-top: 16px;
    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    background: #fff;
    color: #9381FF;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;
}

#optionsBtn:hover {
    background: #9381FF;
    color: #fff;
}

main {
    flex: 8;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main strong {
    background: #9381FF;
    margin-top: 30px;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    max-width: 860px;
}